<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <title>User Quotes</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <a class='btn btn-secondary' href='/logout' type="submit">Logout</a>
            <a class='back' href="/quotes">Back</a>
        </div>
        <div class="main_content">
            <h5>{{first_name}} {{last_name}}'s Quotes</h5><br>
            {% for quote in Quotes %}
                <div class="box">
                    <p>{{quote.author}}: "{{quote.quote}}"</p>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
<style>
    *{
        margin-top: 10px;
    }
    .box{
        border: 1px solid black;
        width: 500px;
        padding: 20px;
        margin-bottom: 20px;
    }
    .header{
        margin-top: 40px;
    }
    .btn-secondary, .back{
        float: right;
        padding: 0px 6px;
        margin: 0px 10px;
        position: relative;
        bottom: 20px;
    }
</style>
</html>